.body_text
  %p
    Unlike some other debt collectors, our service is not restricted to just making a phone call.
    %br/
    = succeed "We" do
      %br/
    %br/
    = succeed "All" do
      %br/
    %br/
    = succeed "Once" do
      %br/
    %br/
    = succeed "Most" do
      %br/
    %br/
    = succeed "As" do
      %br/
.Quote
  %p  K2 Collections saved me time and stress involved in collecting the debt owed to my company. They liased between client and debtor in a friendly and fair manner, allowing my company to get on with the task in hand. We had regular updates throughout. I would not hesitate to use their services again and would highly recommend them.
  %h4 CLIENT: Karen Kyle, Kylecrest Builders Limited. AMOUNT COLLECTED: £19,844.92
.small_banner
  %ul
    %li when to use a debt collector
    %li debt collection procedures explained
    %li Late payment legislation explained
%div
  %h3 Low cost / free?
  %p Our collection fees are low, and we may even be able to collect your debt free...
  %img{:src => ""}/
  %a{:href => "#"} Find out more
.why_k2_list
  %h3 Why choose k2?
  %ul
    %li Full nationwide UK debt collection service
    %li All debts considered, large or small
    %li Commercial and private debt recovery
    %li Debtor tracing service
    %li Proactive - more than just a phone call
    %li 30 years experience, high success rates
    %li Fast and efficient - we know what to do
    %li Low fee / no fee collections
    %li We keep you informed of progress
    %li We save you time and hassle